@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	width: 100%;
	height: 100vh;
	background-image: url(imagens/banner1.jpg);
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
}

header::after {
	content: '';
	width: 100%;
	height: 7px;
	background-image: url(imagens/listras.png);
	display: block;
	position: absolute;
	bottom: 0;
}

#nav-bar {
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 1;
	transition: all 500ms ease-in-out;
}

#faixa {
	width: 100%;
	height: 7px;
	background-image: url(imagens/listras.png);
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition: 0.01s all;
}

.nav-barscroll {
	background-color: #fff;
	transition: all 500ms ease-in-out;
}

.logo {
	float: left;
	position: relative;
	top: 15%;
	left: 20px;
}

.scroll {
	text-decoration: none;
	color: #fff;
	font-family: montserrat;
	padding: 13px;
	transition: 0.3s;
	font-size: 15px;
}

.scrollscrollado {
	text-decoration: none;
	font-family: montserrat;
	padding: 13px;
	transition: 0.3s;
	color: #25375b;
	font-size: 15px;
}

.scrollscrollando:hover {
	color: #3e5984;
}

.scroll:hover {
	color: #9a9a9a;
}

nav {
	float: right;
	position: relative;
	top: 45%;
	right: 20px;
}

#lateral {
	height: 100vh;
	width: 200px;
	background-color:#ecf0f1;
	float: right;
	position: absolute;
	right: -500px;
	transition: 0.4s;
	box-shadow: 1px 1px 8px #000;
}

.imgmenu {
	position: absolute;
	right: 20px;
	top: 35px;
	cursor: pointer;
}

.xis {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 30px;   
	cursor: pointer;
}

#menuresponsivo {
	display: none;
	z-index: 1;
	position: relative;
}


.titulo {
	font-family: montserrat;
	color: #fff;
	font-size:50px;
	text-align: center;
	position: relative;
	top:42vh;
	font-weight: 500;
	animation: animacao 0.7s linear 1;
}

.titulo::after {
	content: '';
	width: 10%;
	height: 3px;
	background-color: #fff;
	display: block;
	margin: auto;
	margin-top: 20px;
}

.subtitulo {
	font-family: montserrat;
	color: #fff;
	font-size:30px;
	text-align: center;
	position: relative;
	top:44vh;
	font-weight: 300; 
}

#sobre {
	width: 100%;
	height: 100vh;
	background-image: url(imagens/banner2.jpg);
	background-size: cover;
	background-position: center;
}

#sobre::after {
	content: '';
	width: 100%;
	height: 7px;
	background-image: url(imagens/listras.png);
	display: block;
	position: absolute;
	bottom: 0;
}

.titlesobre {
	font-family: montserrat;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	position: relative;
	top:30%;
}

.titlesobre::before {
	content: '';
	width: 100px;
	height: 60px;
	display: block;
	background-image: url(coroa.svg);
	background-size: cover;
	margin: auto;
	margin-bottom:35px;
}

.titlesobre::after {
	content: '';
	width: 10%;
	height: 4px;
	display: block;
	background-color: #fff;
	margin: auto;
	margin-top: 35px;
}

.paragrafosobre {
	width: 40%;
	height: 300px;
	color: #fff;
	text-align: justify;
	display: block;
	margin: auto;
	font-family: montserrat;
	font-size: 20px;
	position: relative;
	top: 35%;
	line-height: 25px;
	text-indent: 1.5em;
}

#espaco {
	height: auto;
	width: 100%;
	background-image: url(imagens/banner3.jpg);
	background-size: cover;
	background-position: top;
}

.titlespaco{
	font-family: montserrat;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	padding-top: 170px;
}

.galeria {
	width: 100%;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 80px;
}

.galeria img {
	width: 33%;
	display: inline-block;
	padding: 0px;
}

#depoimento {
	width: 100%;
	height: auto;
	background-image: url(imagens/banner4.jpg);
	background-size: cover;
}

.titledepoimento{
	font-family: montserrat;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	padding-top: 170px;
}

.depoimentos {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;	
}

.depoimento {
	width:300px; ;
	height: 50vh;
	background-color: #c1c1c1;
	display: inline-block;
	margin: 30px;
}

#menu-lateral {
	display: block;
	position: absolute;
	top: 45px;
}

.scroll-resp {
	text-decoration: none;
	color:#25375b;
	font-family: montserrat;
	padding: 13px;
	transition: 0.3s;
	font-size: 15px;
	display: block;
	text-align: right;	
}

#contato {
	width: 100%;
	height: auto;
	background-image: url(imagens/banner5.jpg);
	background-size: cover;
}

.titlecontato {
	font-family: montserrat;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	padding-top: 200px;
}

.subtitulo-contato {
	font-family: montserrat;
	color: #fff;
	font-size:25px;
	text-align: center;
	padding-top: 20px;
	font-weight: 300; 
}

form{
	padding: 20px;
}

.itensform {
	display: block;
	width: 300px;
	height: 45px;
	margin: 10px auto 10px auto;
	border: none;
	padding: 10px 0px 0px 10px;
	transition: 0.5s;	
}

.itensform:focus {
	box-shadow: black 0px 0px 8px;
}

#formulario {
	padding-bottom:100px;
}

.textarea {
	display: block;
	width: 300px;
	height: 80px;
	margin: 10px auto 10px auto;
	border: none;
	padding: 10px 0px 0px 10px;
	transition: 0.5s;	
}

.textarea:focus {
	box-shadow: black 0px 0px 8px;
}

input::-moz-placeholder {
	color: gray;
	font-family: montserrat;
	text-indent: 1.5em;
	font-weight: 600;
}

textarea::-moz-placeholder {
	color: gray;
	font-family: montserrat;
	text-indent: 1.5em;
	font-weight: 600;
}

.enviar {
	display: block;
	width: 200px;
	height: 45px;
	margin: 10px auto 10px auto;
	border: none;
	transition: 0.5s;
	cursor: pointer;
}

.enviar:hover {
	box-shadow: black 0px 0px 8px;
}

@media (max-width: 700px) {

	.logo {
		width: 150px !important;
		position: relative !important;
		top:20px !important;
	}

	.titulo {
		font-size: 30px !important;
	}
	
	.subtitulo {
		font-size: 20px !important;
	}

	#espaco {
		height:auto !important;
	}

	.galeria img{
		display: block !important;
		width: 100% !important;
	}

	.titlesobre {
		font-size:30px !important;
		top:25% !important;
	}
		
	.titlesobre::after {
		margin-top: 10px !important;
	}
	
	.titlesobre::before {
		margin-bottom: 10px !important;
	}

	.paragrafosobre {
		font-size: 12px !important;
		width: 85% !important;
		top:30% !important;
	}

	.titlespaco {
		font-size: 30px !important;
	}

	.titledepoimento {
		font-size: 30px !important;
	}
	
	.titlecontato {
		font-size: 30px !important;
	}

	.subtitulo-contato {
		font-size: 20px !important;
	}

}


@media (max-width: 893px) {

	#menuresponsivo {
		display: block;
	}
	
	nav {
		display: none;
	}

	.titulo {
		font-size: 30px;
	}
	
	.subtitulo {
		font-size: 20px;
	}

	.titlesobre {
		top: 22%;
		font-size: 40px;
	}
	
	.titlesobre::before {
		width:80px;
		height: 45px;
	}

	.paragrafosobre {
		top: 30%;
		font-size: 18px;
		width: 70%;
	}
	
	#espaco {
		height:auto;
	}
	
	.galeria img{
		display: inline-block;
		width:48%;
	}
	
	.titlespaco {
		top:13%
	}

	.galeria{
		top:20%;
	}

}